body {
    margin: 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    background-color: #c6dade;
    border-bottom: 1px solid gray;
    color: rgb(37, 36, 36);
  }
  
  .navItems {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
  }

  .navItems img {
    height: 2em;
  }

  .add-file {
    display: flex;
    align-items: center;
  }
