
.tableArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  border-collapse: collapse;
 margin: 10px 0;
}

.table thead {
  background-color: #86858525;
  font-size: 1.1rem;
}

.table th,
.table td {
  border: 1px solid #19181816;
  padding: 15px;
  text-align: left;
}

.table tbody tr {
  transition: background-color 0.3s ease;
  color: rgb(40, 39, 39);
}

.table tbody tr:hover {
  background-color: #c7cdce88

}
